$animation-time: .4s;

.menu {
  align-items: flex-end;
  width: 3rem;
  transition: width $animation-time linear;

  button {
    padding: 1rem;
  }

  ul {
    display: none;
  }

}

.menu-expanded {
  width: 10rem;
  ul {
    display: inline;
    margin-top: 1rem;
    
    animation: slidein $animation-time linear;

    li {
      padding: .2rem 1rem;

      transition: background-color .2s linear;

      &:hover {
        background-color: lightblue;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate(-8rem, 0);
  }

  to {
    transform: translate(0, 0);
  }
}